@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

.font-oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}